@use "global" as *;

.access__inner {

  @include mq() {
    display: flex;
    align-items: center;
    margin-top: rem(100);
  }
}

.access__header {
  margin: rem(50) auto 0;
  position: relative;
  padding: rem(30) rem(20);
  width: min(90%, rem(590));
  background: $gray;
  letter-spacing: .1em;

  @include mq() {
    width: 40%;
    aspect-ratio: 4/3;
    padding: rem(40) rem(30);
  }
}

.access__header::before {
  content: '';
  position: absolute;
  top: rem(-10);
  left: rem(-10);
  width: calc(100% - rem(4));
  height: calc(100% - rem(4));
  background: transparent;
  border: 2px solid rgba(173, 255, 91, .3);
}

.access__sub-title {
  font-family: $second-font-family;
  font-size: rem(18);
  line-height: 2;
}

.access__station {
  line-height: 1.7;
}

.access__station i,
.access__text i {
  padding-right: rem(6);
}

.access__text {
  padding: rem(16) 0;
}

.access__map {
  margin: 0 auto;
  width: min(100%, rem(600));
  aspect-ratio: 4/3;

  @include mq() {
    width: calc(100% - 40% - rem(40));
    margin-left: rem(40);
  }
}

.access__map iframe {
  width: 100%;
  height: 100%;
}