@use "global" as *;
/* カード単体 */

.card {
  width: min(100%, rem(600));
  margin-right: auto;
  margin-left: auto;
  display: flex;
  align-items: center;
  border: 1px solid $color-main;

  @include mq() {
    display: block;
    padding: rem(16);
  }
}

.card__title {
  background-color: $color-main;
  color: $black;
  aspect-ratio: 1/1;
  font-size: rem(18);
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 0 0 rem(140);
  transition: .3s;

  @include mq() {
    margin-right: auto;
    margin-left: auto;
    width: min(100%, rem(150));
  }
}

.card__title:hover {
  @media (any-hover:hover) {
    border-radius: 50%;
  }
}

.card__lists {
  padding: rem(8);
  text-align: justify;
  margin-right: auto;
  margin-left: auto;
}

.card:nth-of-type(odd)  .card__lists {
  @include mq() {
    padding-top: rem(16);
    padding-bottom: 0;
  }
}

.card:nth-of-type(even) .card__lists {
  @include mq() {
    padding-top: 0;
    padding-bottom: rem(16);
  }
}











