@use "global" as *;

.faq__inner {
  margin-right: auto;
  margin-left: auto;
  width: min(100%, $inner);
}

.faq__header {
  text-align: center;
}

.faq__title {
  font-size: rem(18);
  position: relative;
  display: inline-block;
  padding: 0 rem(10);

  @include mq() {
    font-size: rem(20);
  }
}

.faq__title::before,
.faq__title::after {
  content: '';
  position: absolute;
  transform: translateY(-50%);
  width: rem(4);
  height: rem(30);
  background: $color-main;
  top: 50%;
}

.faq__title::before {
  left: 0;
}

.faq__title::after {
  right: 0;
}

.faq__subtitle {
  display: flex;
}

.faq__message {
  padding: rem(50) 0;
  text-align: left;

  @include mq() {
    padding: rem(100) 0;
    text-align: center;
  }
}

.faq__items {
  width: 100%;

  @include mq() {
    display: flex;
    align-items: flex-end;
  }
}

.faq__item {
  width: 100%;
  padding: rem(16) rem(24);
  background: $gray-sub;
  position: relative;

  @include mq() {
    width: calc(100% / 3);
    padding: rem(16) rem(30);
  }
}

.faq__item--center {
  color: $black;
  background: $white;
}

.faq__item::before,
.faq__item::after {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
}

.faq__item::before {
  top: 0;
  right: 0;
  border-top: rem(20) solid $black;
  border-right: rem(20) solid $black;
  border-bottom: rem(20) solid transparent;
  border-left: rem(20) solid transparent;
}

.faq__item::after {
  bottom: 0;
  left: 0;
  border-top: rem(20) solid transparent;
  border-right: rem(20) solid transparent;
  border-bottom: rem(20) solid $black;
  border-left: rem(20) solid $black;
}

.faq__icon {
  display: inline-block;
  padding: rem(4);
  border-radius: 50%;
  height: rem(30);
  flex: 0 0 rem(30);
  text-align: center;
  line-height: 1.15;
  margin-right: rem(16);
}

.faq__icon--head {
  background: $black;
  color: $white;
}

.faq__icon--foot {
  background: $color-main;
  color: $black;
}

.faq__text {
  padding-top: rem(16);
  text-align: justify;
  display: flex;
}

.faq__person {
  margin-top: auto;
  padding-top: rem(16);
  text-align: right;
}



