@use "global" as *;

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  background-color: transparent;
  background-color: rgba(17, 17, 17, 0.3);
  height: rem(60);
  z-index: map-get($layer, "header");
  transition: 0.5s;

  @include mq() {
    height: rem(80);
  }
}

/* スクロールで色変化 */
.header.is-change {
  background-color: $black;
}

.header__inner {
  height: inherit;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: rem(1) rem(22) 0;

  @include mq() {
    padding: 0;
    justify-content: center;
  }
}

.header__logo {
  width: rem(50);
  position: relative;
  z-index: map-get($layer, "logo");

  @include mq() {
    width: rem(70);
  }
}
/* ----------------------
sp
------------------------- */
.header__drawer {
  margin-top: 0;
}

.header__drawer.is-open {
  margin-top: rem(2);
}

.sp-nav {
  display: none;
  transition: background-color 0.3s;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.9);
  width: 100%;
  height: 100vh;
  z-index: map-get($layer, "drawer");
}

.sp-nav__items {
  height: 100vh;
  padding: rem(200) 0;
  overflow: scroll;
}

.sp-nav__item:first-child {
  border-top: 1px solid $gray;
}

.sp-nav__item {
  border-bottom: 1px solid $gray;
}

.sp-nav__item a {
  display: inline-block;
  width: 100%;
  padding: rem(15.6) 0;
  text-align: center;
  color: $black;
  letter-spacing: calc(2 / 16 * 1em);
  font-size: rem(18);
  font-family: $second-font-family;
}

.sp-nav__item span {
  display: block;
  font-size: rem(16);
}
/* ----------------------
pc
------------------------- */
.pc-nav {
  height: inherit;
}

.pc-nav__items {
  height: inherit;
  display: flex;
  align-items: center;
  padding-left: rem(10);
}

.pc-nav__item a {
  display: block;
  padding: rem(13) rem(10);
  color: $white;
  font-family: $font-family-en;
  font-size: rem(22);
  letter-spacing: 0.07em;
  text-align: center;
  text-transform: uppercase;
  transition: 0.3s;
}

.pc-nav__item a:hover {
  @media (any-hover: hover) {
    color: $color-main;
  }
}

.pc-nav__item span {
  display: block;
  font-size: rem(14);
  font-weight: $regular;
  color: $color-main;
}

.pc-nav__item a:hover span {
  color: $white;
  font-weight: $bold;
}

.pc-nav__item .fa-facebook-square {
  color: $white;
  font-size: rem(40);
}

.fa-facebook-square:hover {
  @media (any-hover: hover) {
    transition: 0.3s;
    color: #3b5998;
  }
}
